In [14]:
#!/usr/bin/python

""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""

import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [15]:
# Number of people in the enron dataset
print (len(enron_data))

# Number of features in the enron dataset
for person, data in enron_data.iteritems():
    print len(data)
    break

146
21

In [16]:
# find the number of persons of interest in the dataset
poi = 0
for person, data in enron_data.iteritems():
    for k, v in data.iteritems():
        if k == 'poi' and v == True:
            poi += 1
print poi

18

In [17]:
# count number of persons of interest in the poi_names.txt file
poi_file = "../final_project/poi_names.txt"
poi_names = open(poi_file, 'r')
poi_lines = poi_names.read().split('\n')

poi_count = 0
for line in poi_lines:
    if line.startswith('('):
        poi_count += 1
print poi_count

35

In [34]:
# search for a name within enron_data
for person, data in enron_data.iteritems():
    if person.startswith('MC'):
        print person

MCMAHON JEFFREY
MCCARTY DANNY J
MCCONNELL MICHAEL S
MCDONALD REBECCA
MCCLELLAN GEORGE

In [19]:
# find all features within the enron_data
for person, data in enron_data.iteritems():
    for k, v in data.iteritems():
        print k
    break

salary
to_messages
deferral_payments
total_payments
exercised_stock_options
bonus
restricted_stock
shared_receipt_with_poi
restricted_stock_deferred
total_stock_value
expenses
loan_advances
from_messages
other
from_this_person_to_poi
poi
director_fees
deferred_income
long_term_incentive
email_address
from_poi_to_this_person

In [20]:
# find total stock value for James Prentice
enron_data["PRENTICE JAMES"]["total_stock_value"]

1095040

In [21]:
#find number of email messages from Wesley Colwell to Persons of Interest
enron_data["COLWELL WESLEY"]["from_this_person_to_poi"]

11

In [22]:
# find value of stock options by Jeffrey K Skilling
enron_data["SKILLING JEFFREY K"]['exercised_stock_options']

19250000

In [23]:
# find total payments for Lay, Skilling, and Fastow
print (enron_data["SKILLING JEFFREY K"]['total_payments'])
print (enron_data["LAY KENNETH L"]['total_payments'])
print (enron_data["FASTOW ANDREW S"]['total_payments'])

8682716
103559793
2424083

In [24]:
# finding number of people with a known salary
# finding number of people with a known email address
num_salary = 0
num_email = 0

for person, data in enron_data.iteritems():
    for k, v in data.iteritems():
        if k == 'salary' and v != 'NaN':
            num_salary += 1
        if k == 'email_address' and v != 'NaN':
            num_email += 1

print (num_salary)
print (num_email)

95
111

In [25]:
# Number of people with 'NaN' as total payments

nan_payments = float()

for person, data in enron_data.iteritems():
    for k, v in data.iteritems():
        if k == 'total_payments' and v == 'NaN':
            nan_payments += 1

print (nan_payments)
print (nan_payments / len(enron_data))

21.0
0.143835616438

In [26]:
# Number of POIs in the dataset with NaN as total payments

nan_poi = float()

for person, data in enron_data.iteritems():
    for k, v in data.iteritems():
        if k=='poi' and v==True:
            if k=='total_payments' and v=='NaN':
                nan_poi += 1
                
print (nan_poi / poi_count)

0.0

In [49]:
# finding people by their salary/bonus

max_bonus = 5000000
max_salary = 1000000

for person, data in enron_data.iteritems():
    for k, v in data.iteritems():
        if k == 'bonus' and v != 'NaN' and v > max_bonus:
            #max_bonus = v
            print person, " bonus: ", v
        if k == 'salary' and v != 'NaN' and v > max_salary:
            print person, " salary: ", v

LAVORATO JOHN J  bonus:  8000000
LAY KENNETH L  salary:  1072321
LAY KENNETH L  bonus:  7000000
BELDEN TIMOTHY N  bonus:  5249999
SKILLING JEFFREY K  salary:  1111258
SKILLING JEFFREY K  bonus:  5600000
TOTAL  salary:  26704229
TOTAL  bonus:  97343619
FREVERT MARK A  salary:  1060932